
         body{
            background: url('background.jpg') 100%;
         }

         #from{
            font-family: arial;
            width: 500px;
            padding: 30px;
            background: white;
            margin: 50px;
         }
        #from h2{
            background: gray;
            color: white;
            font-size: 18px;
            font-weight: lighter;
            padding: 20px;
            margin: -30px -30px 30px -30px;
        }

         textarea,input[type="text"],input[type="password"],input[type="date"],input[type="password"]{
            box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            height: 45px;
         }

         #from > input[type="submit"]{
            background: #ffffff;
            border-color: #000000;
            color: #000000;
            font-size: 20px;
            height: 38px;
            margin: 0;
            margin-top: 10px;
            padding: 0 10px 1px;
            border-width: 1px;
            border-style: solid;
            box-sizing: border-box;         
         }

         #from > input.fill-require{
            border-color:red;
         }

         #from > #reset{
            text-decoration: none;
            color:black;
            font-size: 18px;
         }

         #from > #reset:hover{
            color:#008ec2;
         }      